@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
.container {
    margin-inline: 6rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.login{
    background: url(/src/assets/bgDesktop.png);
    background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-color: #141414;
  
}
input{
    border-radius:0.9rem ;
    background-color: #121212;
    height: 4%;
    padding: 2%;
    color: white;
}
@media (max-width: 767px) {
    input{
        padding: 5%;
    } 
}  
.main_Home {
    background-color: #141414;
}